@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
}

form {
    width: 80%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background: #93EAEB;
}

label {
    display: block;
    text-align: right;
    position: relative;
    top: 20px;
    right: 75%;
    font-size: 25px;
}

input {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 35px;
    font-size: 25px;
    text-align: center;
    outline: none;
    border-radius: 5px;
    border: none;
}